body {
  font-family: 'Merriweather', serif;
  font-size: .75em;
}

#thisForm {
  width: 55%;
  padding: 10px;
  background-color: azure;
}

legend {
  text-align: center;
}

div.form-element {
  display: inline-block;
  width: 95%;
  margin: 10px;
}

div.alert {
  color: red;
  font-weight: bold;
}

textarea {
  width: 100%;
  resize: none;
}

#submit {
  text-align: center;
}

input[type=submit] {
  font-family: 'Merriweather', serif;
  padding: 5px;
}

